@import "toolkit";

.input {
  padding: 3px;
  margin: 0 0 15px 0px;
  display: block;
  width: 20%;
  min-width: 320px;
  border-radius: $br;
  line-height: 20px;
  font-size: 16px;
  border: 1px solid $light-grey;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

.table {
  width: 100%;

  thead {
    background: $blue;
    color: white;
  }

  th {
    border-bottom: 1px solid #EFEFEE;
    cursor: pointer;
    text-align: left;
    padding: 4px;

    &:first-child {
      width: 15%;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 45%;
    }
    &:last-child {
      width: 15%;
      cursor: default;
    }
  }

  td {
    vertical-align: top;
    padding: 4px;

    &:last-child {
      text-align: right;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  tr:nth-child(even) {
    background: lighten($light-grey, 5);
  }
}

.attributes {
  margin: 0;
  padding: 0;

  i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
  }
}

.no_data {
  display: inline-block;
  margin-top: 20px;
}

.sort {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}

.sorted {
  @extend .sort;
  color: white;
}
