@import "toolkit";

.search_container {

  position: relative;
  margin: 0 0 15px 0px;

  i {
    color: lighten($blue, 5);
    position: absolute;
    left: 6px;
    top: 6px;
    font-size: 14px;
  }

  input {
    padding: 3px 3px 3px 25px;
    display: block;
    width: 20%;
    min-width: 320px;
    border-radius: $br;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid $light-grey;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    box-sizing: border-box;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {

    th {
      border-bottom: 2px solid $light-grey;
      cursor: pointer;
      text-align: left;
      padding: 8px;
      background: lighten($light-grey, 5);
      font-weight: bolder;

      &:first-child {
        width: 15%;
        border-top-left-radius: $br;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 35%;
      }
      &:last-child {
        width: 15%;
        cursor: default;
        border-top-right-radius: $br;
      }
    }

  }
  tbody {
    td {
      vertical-align: top;
      padding: 8px;

      &:last-child {
        text-align: right;
      }
      p {
        margin: 0;
        padding: 0;
        em {
          display: inline-block;
          margin: 0 3px;
          font-size: 12px;
        }
      }
    }
    tr {
      /* we need to background the td because in Firefox the rounding does not appear */
      &:nth-child(odd) td {
        background: white;
      }
      &:nth-child(even) td {
        background: lighten($light-grey, 5);
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: $br;
        }
        td:last-child {
          border-bottom-right-radius: $br;
        }
      }
    }
  }
}

.attributes {
  margin: 0;
  padding: 0;

  i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
  }
}

.no_data {
  display: inline-block;
  margin-top: 10px;
}

.sort {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}

.sorted {
  @extend .sort;
}

.actions {
  a {
    text-decoration: none;

    &:hover, &:visited {
      text-decoration: none;
    }
  }
  /* tool tip */
  div {
    border-radius: $br;
  }
}
