@import "toolkit";
@import "forms";

.mod_container_about {
  @extend .mod_container;
  @include panel;

  max-width: 1000px;
  padding: 0;

  @media screen and (min-width: $large) {
    margin: 30px auto;
  }
  @media screen and (max-width: $large) {
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

.doc_header {
  @extend .header;
  font-weight: 400;
  font-size: 16px;
}

.doc_section {
  padding: 30px;
}

