@import "toolkit";

.mod_container_about {
  @extend .mod_container;
  @include panel;

  max-width: 1000px;

  @media screen and (min-width: $large) {
    margin: 30px auto;
  }
  @media screen and (max-width: $large) {
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}
