@import "variables";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,300");

html, body {
  background: $light-grey;

  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #2b3f44;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
}


