.mod_container {
  margin: 0 auto;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.mod_center {
  @include panel
}

.mod_left {
  @media screen and (max-width: $large) {
    float: none;
    margin-top: 10px;
  }
  @media screen and (min-width: $large) {
    float: left;
    width: 44%;
  }
  @include panel
}

.mod_right {
  @media screen and (max-width: $large) {
    float: none;
    margin-top: 10px;
  }
  @media screen and (min-width: $large) {
    float: right;
    width: 44%;
  }
  @include panel
}


