/* _variables.scss */

// Colors
$blue: #4db3cf;
$red: #b62222;
$green: #519b00;
$orange: #ec9a0a;
$light-grey: #efefee;
$medium-grey: #a2a2a2;
$dark-grey: #2b3f44;
$remove-red: #D0021B;

// borders
$border: rgba(black, 0.1);
$border-light: rgba(white, 0.2);

// Sizes
$padding: 2rem;
$br: 5px;

// Screen
$small: 400px;
$medium: 800px;
$large: 1200px;
