@import "toolkit";

.mod_error {
  @include panel;
  padding: 20px;
}

.table {
  @include panel;

  width: 50%;
  border-collapse: collapse;

  thead {
    th {
      border-bottom: 2px solid $light-grey;
      text-align: left;
      padding: 8px;
      background: lighten($light-grey, 5);
      font-weight: bolder;

      &:first-child {
        width: 50%;
        border-top-left-radius: $br;
      }
      &:last-child {
        width: 50%;
        cursor: default;
        border-top-right-radius: $br;
      }
    }
  }
  tbody {
    td {
      vertical-align: top;
      padding: 8px;
    }
    tr {
      /* we need to background the td because in Firefox the rounding does not appear */
      &:nth-child(odd) td {
        background: white;
      }
      &:nth-child(even) td {
        background: lighten($light-grey, 5);
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: $br;
        }
        td:last-child {
          border-bottom-right-radius: $br;
        }
      }
    }
  }
}
