@import "toolkit";
@import "buttons";
@import "forms";

.mod_left_playground {
  @extend .mod_left;
}

.mod_right_playground {
  @extend .mod_right;
}

.header_playground {
  font-size: 28px;
  color: $blue;
  margin: 25px 0 0;
  padding: 5px 70px 10px 40px;
}

.header_title {
  @extend .header_playground;
  padding: 10px 0 20px 40px;
  border-bottom: 2px solid $light-grey;
}

.about {

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.about_content {
  margin-left: 40px;

  p {

  }
}

.info {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

.user_attributes {

  margin-left: 20px;

  label {
    color: darken($medium-grey, 20);
  }

}

.playground_actions {
  padding: 15px;
  a {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(5) {
      float: right;
    }

    &:last-child {
      margin-top: 15px;
      display: block;
      margin-left: 0;
    }
  }
  i {
    font-size: 20px;
  }
}

.playground_result {
  color: white;
  background-color: $green;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
  section {
    i {
      font-size: 48px;
      padding: 15px 20px;
    }
    article {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    h1 {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      color: $dark-grey;
      background-color: $light-grey;
      i {
        font-size: 12px;
      }
    }
  }
  pre {
    padding: 10px 20px;
    background-color: white;
    margin: 0;
    color: $dark-grey;
  }
}

.playground_error_result {
  @extend .playground_result;
  background-color: $red;
}


