.playground {

    @include page;
    display: flex;
    background-color: $light-grey;
    padding: 0;

    @include phone {
        flex-direction: column;
    }

    h2 {
        font-size: large;
        color: $blue;
        margin-bottom: 25px;
        text-transform: uppercase;

        &.header_user_attributes {
            margin-top: 30px;
        }
    }

    .left {
        @include card;
        width: 50%;
        border-top: none;
        padding: 15px;
        span.label {
            display: block;
            margin: 15px 0 5px 0;
            color: darken($medium-grey, 20)
        }
        p.value {
            padding: 5px;
            margin: 0;
            border-radius: $br;
            min-width: 400px;
            border: 1px solid $lighter-grey;
            background: $light-grey;
        }

        input[type=text] {
            margin: 5px 0;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $medium-grey;
            min-width: 100%;
            font-size: 100%;

            &.disabled {
                background-color: lighten($lighter-grey, 5);
            }
        }

        table {
            width: 100%;
            th {
                padding: 5px;
            }
            th.enabled {
                width: 5%;
                text-align: center;
            }
            th.rule {
                width: 65%;
            }
            th.source {
                width: 25%;
            }
            th.add_value {
                width: 5%;
            }
            td.rule {
                padding-right: 15px;
            }
            td.enabled {
                text-align: center;
            }
            .Select-input {
                height: 28px;
            }
            .Select-control {
                height: 28px;
            }
            i.fa-plus {
                margin-left: 5px;
                color: $green;
                cursor: pointer;
            }

        }
    }

    .buttons {
        margin-top: 35px;
        a {
            i {
                margin-right: 15px;
            }
        }
    }

    .right {
        @include card;
        border-top: none;
        max-width: 50%;
        padding: 15px;
        border-left: 5px solid $background;

        .playground_info {
            p {
                margin-bottom: 10px;
            }
        }

        .playground_result {
            color: white;
            background-color: $green;
            border-top-left-radius: $br;
            border-top-right-radius: $br;
            section {
                i {
                    font-size: 48px;
                    padding: 15px 20px;
                }
                article {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                }
                h1 {
                    font-size: 20px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                }
                p {
                    margin: 0;
                    color: $dark-grey;
                    background-color: lighten($medium-grey, 15);
                    i {
                        font-size: 12px;
                    }
                }
            }
            pre {
                padding: 10px 20px;
                background-color: white;
                margin: 0;
                color: $dark-grey;
            }
        }

    }

}

