openapi: 3.0.3
info:
  title: Instelling Attributes API
  version: 1.0.0
  description: |
    API voor het opvragen van attributen op basis van een eduID.
    Authenticatie gebeurt via HTTP Basic Authentication.
servers:
  - url: https://instelling.tld/api
paths:
  /attributes/{eduid}:
    get:
      summary: Haal attributen op voor een gebruiker
      description: |
        Retourneert de attributen die gekoppeld zijn aan het opgegeven eduID.
        Vereist HTTP Basic Authentication.
      parameters:
        - name: eduid
          in: path
          required: true
          description: Het eduID van de gebruiker (UUID-formaat).
          schema:
            type: string
            format: uuid
            example: 0000-1111-2222-3333
      security:
        - basicAuth: []
      responses:
        '200':
          description: Succesvolle respons met attributen.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAttributes'
        '400':
          description: Ongeldige request, bijvoorbeeld verkeerd UUID-formaat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid eduID format"
        '404':
          description: Gebruiker niet gevonden voor het opgegeven eduID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "User not found"
        '401':
          description: Authenticatie vereist of ongeldig.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Unauthorized"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    AttributeArray:
      type: array
      items:
        type: string
    UserAttributes:
      type: object
      properties:
        given_name:
          $ref: '#/components/schemas/AttributeArray'
          example: ["John"]
        family_name:
          $ref: '#/components/schemas/AttributeArray'
          example: ["Doe"]
        name:
          $ref: '#/components/schemas/AttributeArray'
          example: ["Prof.dr. John Doe"]
        email:
          $ref: '#/components/schemas/AttributeArray'
          example: ["john.doe@example.com"]
        ou:
          $ref: '#/components/schemas/AttributeArray'
          example: ["Faculty of Science"]
