.button {
  background: $blue;
  padding: 7px 15px;
  border: 1px solid $blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover {
    background: darken($blue, 10);
    text-decoration: underline;
  }

  i {
    margin-right: 10px;
  }

}

.button_white {
  @extend .button;
  color: $blue;
  background-color: white;

  &:hover {
    background: darken(white,10)
  }
}

.button_white_disabled {
  @extend .button_white;

  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.button_submit {
  @extend .button;
  width: 180px;
}

.button_submit_small {
  @extend .button;
  width: 110px;
}

.button_disabled {
  @extend .button;

  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.button_submit_disabled {
  @extend .button_disabled;
  width: 180px;
}

.button_submit_small_disabled {
  @extend .button_disabled;
  width: 110px;
}

.button_full {
  @extend .button_white;
  margin: auto 0;
}

.button_full_disabled {
  @extend .button_white_disabled;
  margin: auto 0;
}

.button_narrow {
  @extend .button;
  padding: 3px 10px;
}

.button_cancel {
  @extend .button;
  background: white;
  color: $medium-grey;
  border: 1px solid $medium-grey;
  margin-left: 15px;
  &:hover {
    background: darken(white, 10);
    text-decoration: underline;
  }

}


