.success {
  padding: 30px 70px 30px 40px;
  border-bottom: 1px solid $light-grey;
  position: relative;

  &:before {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 20px;
    width: 6px;
    content: "";
    background-color: $blue;
  }

  label {
    margin: 5px 0px;
    color: $blue;
    display: block;
  }
}

.failure {
  @extend .success;

  &:before {
    background-color: $medium-grey;
  }
}

.input {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $medium-grey;
  min-width: 100%;
  font-size: 100%;
}

.input_disabled {
  @extend .input;
  background-color: lighten($light-grey, 5);
}

.actions {
  padding: 30px 70px 10px 40px;
}

.header {
  background: lighten($light-grey, 5);
  border-bottom: 2px solid $light-grey;
  font-weight: bolder;
  margin: 0;
  padding: 10px;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
}

.error {
  display: inline-block;
  color: $red;
}

.warning {
  margin-top: 5px;
  display: inline-block;
  color: #C17B00;
}

