@import "toolkit";
@import "forms";

.mod_left_authorities {
  @extend .mod_left;
  @media screen and (max-width: $large) {
    width: 100%;
  }
  @media screen and (min-width: $large) {
    width: 24%;
  }
  padding: 0;
}

.mod_right_authorities {
  @extend .mod_right;
  @media screen and (max-width: $large) {
    width: 100%;
  }
  @media screen and (min-width: $large) {
    width: 74%;
  }
  padding: 0;
}

.authority_link {
  border-bottom: 1px solid $light-grey;
  background: lighten($light-grey, 5);
  padding: 10px;
  margin: 0;
  display: block;
  position: relative;
}

.authority_selected {
  @extend .authority_link;
  background: white;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    content: "";
    background-color: $blue;
  }
}

.authority_details {

  span {
    display: block;
    margin: 15px 0 5px 10px;
    color: darken($medium-grey, 20)
  }
  p {
    padding: 5px;
    margin: 0 0 0 10px;
    border-radius: $br;
    width: 50%;
    min-width: 400px;
    border: 1px solid $light-grey;
    background: lighten($light-grey, 5);
  }
  ul {
    @extend p;
    list-style-type: none;
  }
}

.attribute {
  background: lighten($light-grey, 5);
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  margin: 20px 0 10px 0;
  padding: 10px;
  font-size: 14px;
  span {
    margin: 0
  }
  em {
    display: inline-block;
    margin-left: 10px;
  }
}

.attributeDetails {
  margin-left: 25px;
}


