@import "toolkit";

.auth {
  margin: 15px 10px;

  em {
    display: block;
    font-size: small;
    margin-left: 20px;
  }
}

.authority {
  @extend .auth;
  border-left: 2px solid $light-grey;

}

.authority_selected {
  @extend .auth;
  border-left: 2px solid $blue;
}

.authority_link {
  padding: 20px;
}
