<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% if (debug === false) { %>
    <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css"/>
    <% } %>
    <!-- temp hack for problem with including css -->
    <link type="text/css" rel="stylesheet" media="all" href="css/react-select.css"/>
  </head>
  <body>
    <div id="app"></div>
    <script src="js/app.<%= version %>.js"></script>
  </body>
</html>
