@import "toolkit";

.language {
  display: inline;
  overflow: hidden;
  margin-right: 40px;
  line-height: 30px;
  font-size: 14px;
  li {
    float: left;
    list-style: none;
  }
  a {
    display: block;
    padding: 0 14px;
    background: $light-grey;
    border-color: white;
    text-decoration: none;
    &:hover {
      background: $blue;
      color: white;
      text-decoration: none;
    }
  }
  li:first-child a {
    border-right: 1px solid $light-grey;
    border-top-left-radius: $br;
    border-bottom-left-radius: $br;
  }
  li:nth-child(2) a {
    border-top-right-radius: $br;
    border-bottom-right-radius: $br;
  }
}
