@import "toolkit";
@import "buttons";

.mod_container_aggregation {
  @extend .mod_container;
  @include panel;
  margin: 30px auto;
  padding: 0;
  max-width: 1000px;
}

.header {
  font-size: large;
  border-bottom: 1px solid $light-grey;
  padding: 40px 300px 25px 40px;
  position: relative;

  em {
    position: absolute;
    right: 70px;
    font-size: small;
    color: $dark-grey;
  }
}

.success {
  padding: 30px 70px 30px 40px;
  border-bottom: 1px solid $light-grey;
  position: relative;

  &:before {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 20px;
    width: 6px;
    content: "";
    background-color: $blue;
  }

  label {
    margin: 5px 0px;
    color: $blue;
    display: block;
  }

}

.input {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $medium-grey;
  min-width: 100%;
  font-size: 100%;
}

.input_disabled {
  @extend .input;
  background-color: $light-grey;
}

.failure {
  @extend .success;

  &:before {
    background-color: $medium-grey;
  }

}

.actions {
  padding: 30px 70px 10px 40px;
}

.select {
  border: 1px solid $medium-grey;
  background: white;
  height: 30px;
  width: 100%;
}

.remove_authority {
  color: #8A7070;
  position: absolute;
  right: 6px;
  top: 34px;
  font-size: 18px;
}
.remove_attribute {
  @extend .remove_authority;
  right: 6px;
  top: 9px;
}

.attributes {
  margin-left: 30px;
}

.authority {
  position: relative;
}
.attribute {
  @extend .authority;
}

