@import "toolkit";
@import "buttons";
@import "forms";

.mod_container_aggregation {
  @extend .mod_container;
  @include panel;
  margin: 30px auto;
  padding: 0;
  max-width: 1000px;
}

.header {
  font-size: large;
  border-bottom: 1px solid $light-grey;
  padding: 40px 300px 25px 40px;
  position: relative;
  font-weight: 400;

  em {
    position: absolute;
    right: 70px;
    font-size: small;
    color: $dark-grey;
  }
}

.select_authority {
  border: 1px solid $medium-grey;
  background: white;
  height: 30px;
  width: 100%;
}

.select_attribute {
  @extend .select_authority;
  margin: 5px 0;
}

.remove_authority {
  color: $medium-grey;
  position: absolute;
  right: 6px;
  top: 34px;
  font-size: 12px;

  &:hover {
    color: $remove-red
  }

}
.remove_attribute {
  @extend .remove_authority;
  right: 6px;
  top: 9px;
}

.attributes {
  margin-left: 30px;
}

.authority {
  position: relative;
}
.attribute {
  @extend .authority;
}

