@import "variables";

.flash {
  margin: 0px auto;
  padding: 10px 30px 0px 30px;
  text-align: center;
  color: white;
  font-size: large;
  position: relative;

  p {
    background-color: $green;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 30px;
    color: white;
    font-size: small;
  }
}

.error {
  background-color: $red;
}

.full {
  max-width: 100%;
  margin-bottom: 20px;
  padding-top: 0px;
  a {
    top: 0px;
  }
}
